<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recipe Minder | {% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="/css/app.css">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
</head>
<body>

	<div class="container" role="document">
		<header class="page-header" role="banner">
			<nav class="main-menu" role="navigation">
				<ul>
					<li><a href="{% url 'recipelist' %}">Home</a></li>
				</ul>
			</nav>
		</header><!-- /#page-header -->

		<div class="main-content">
			{% block maincontent %}
			{% endblock %}
		</div>

		<footer class="page-footer" role="contentinfo">
		</footer><!-- /#page-footer -->
	</div><!-- /.container -->

</body>
</html>
