{% extends "base.html" %}

{% block title %}
All Recipes
{% endblock %}

{% block maincontent %}
<div class="recipe-container">
  <h1 class="page-title">All Recipes</h1>
  {% if recipelist %}
  <ul class="recipe-list">
    {% for recipe in recipelist %}
    <li>
      <h3><a href="{{ recipe.id }}">{{ recipe.name }}</a></h3>
      <span>{{ recipe.description }}</span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="warning">Looks like you don't have any recipes yet! Try adding a new one.</p>
  {% endif %}
  <a href="edit/">Create a new recipe</a>
</div>
{% endblock %}
